body {
  /* display: flex; */
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.link-home {
  color: #2e2f42;
}

.input {
  margin: 0 auto;
  width: 355px;
  display: flex;
  justify-content: space-between;
}
#datetime-picker {
  outline: none;
  height: 40px;
  width: 272px;
  border-radius: 4px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-sizing: border-box;
}
.input-normal {
  color: #2e2f42;
  border: 1px solid #808080;
}

.input-disabled {
  color: #808080;
  border: 1px solid #808080;
}
.input-normal:hover {
  border: 1px solid #000000;
  color: #2e2f42;
}
.timer {
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
  width: 346px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 72px;
  box-sizing: border-box;
}
.value {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2e2f42;
}
.button-disabled {
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  width: 75px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #cfcfcf;
  color: #989898;
  border: none;
}
.button-normal {
  background-color: #4e75ff;
  color: #ffffff;
  transition: background-color 500ms;
}
.button-normal:hover {
  background-color: #6c8cff;
}
/* iziToast styles */
.iziToast > .iziToast-close {
  background: url(../img/close.png) no-repeat 50% 50%;
  background-size: 12px;
}
/* flatpickr styles */
.flatpickr-day.selected {
  background: #4e75ff;
  border-color: #4e75ff;
}
.flatpickr-day {
  color: #666666;
}
.flatpickr-day.prevMonthDay {
  color: #c1c1c1;
}
.flatpickr-calendar {
  box-sizing: border-box;
  text-align: center;
  background-color: #f5f5f5;
}
.flatpickr-day.today {
  border-color: #4e75ff;
}
span.flatpickr-weekday {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;

  color: #2e2f42;
}
.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: #333333;
}
.flatpickr-current-month input.cur-year {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: #333333;
}
.flatpickr-time input {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  color: #333333;
}
.flatpickr-time input.flatpickr-hour {
  font-weight: normal;
}
.flatpickr-time .flatpickr-time-separator {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #333333;
}
.flatpickr-day:hover {
  background-color: #c1c1c1;
}
.flatpickr-input.active {
  color: black;
  border: 1px solid #4e75ff;
}
/*  */
