body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.input {
  margin: 0 auto;
}
.timer {
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
